priority 1

snippet ii "\( ... \)"
\(${1:maths there}\)${0}
endsnippet

snippet qq "\[ ... \]"
\[${1:maths there}\]${0}
endsnippet

snippet ffi "fraction inline" 
\(\frac{${1}}{${2}}\)${0}
endsnippet

snippet ff "fraction displayed" i
\frac{${1:numerator}}{${2:denominator}}${0}
endsnippet

snippet vv "single stretching vertical bar" i
\left| ${1} \right|
endsnippet



